*{
	margin: 0;
	padding: 0;
	font-family: Centuary Gothic;
}

header{
	background-image: url(../college.jpg);
	width: 270vh;
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 40px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 10px 30px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}

.main{
	max-width: 1200px;
	margin: auto;
}

.title{
	
	position: absolute;
	top: 45%;
	left: 70%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: yellow;
	font-size: 500%;
}

.button{
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.btn{
	border: 5px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
	font-size: 180%;

}

.btn :hover{
	background-color: #fff;
	color: #000;
}

table, th, td {
  border: 1px solid black;
  padding: 6px;
  text-align: left;
}


